#power-container {
	grid-area: power;
	display: -ms-grid;
	display: grid;
}

.switch-selector {
	background-color: green;
	border: none;
	width: 80px;
	height: 80px;
	margin-left: 30px;
	-ms-grid-column-align: start;
	    justify-self: start;
}